[Unit]
Description={{SERVICE_DESCRIPTION}}

[Service]
User={{SERVICE_USER}}
Group={{SERVICE_GROUP}}
WorkingDirectory={{REMOTE_BASE}}/current-api/
ExecStart={{REMOTE_BASE}}/.venv/bin/gunicorn -b localhost:{{PORT}} -k uvicorn.workers.UvicornWorker api.main:app
Environment="ENV_TYPE=PROD"
Environment="LOG_ROOT={{REMOTE_BASE}}/logs"
Restart=always
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
